html {
	font-family: sans-serif;
}

.hidden {
	display: none;
}

.align-right {
	float: right;
	position: relative;
	top: -0.45rem;
}

.muted {
	font-size: 0.9rem;
	color: #313131
}

body {
	background-color: #ececec;
	color: #0c0c0c;
}

.container {
	padding-top: 20px;
	max-width: 1000px;
	min-width: 400px;
	margin: auto;
}

.section {
	border: 1px solid black;
	padding: 20px 10px;
	margin-bottom: 20px;
	background-color: #f7f7f7;
	box-shadow: 0px 8px 10px #0000001f;
}

.group {
	padding-bottom: 20px;
}

/* Headings */
h1 {
	font-size: 2rem;
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 15px 0px;
	display: inline-block;
	border-bottom: 1px solid black;
}

h2 {
	font-size: 1.2rem;
	padding: 0px 0px 5px 0px;
	margin: 0px;
}

/* Input fields */
.input-field {
	display: block;
	padding-bottom: 10px;
}

.input-field > label {
	display: block;
}

.input-field > input {
	display: block;
}

input {
	outline: none;
	border: 1px solid black;
	margin: 1px;
	position: relative;
	left: -1px;
}
input:active {
	border: 2px solid black;
	margin: 0px;
}
input:focus {
	border: 2px solid black;
	margin: 0px;
}

input.invalid {
	border-color: #ff2020;
}

button {
	padding: 5px 15px;
	border: 1px solid black;
	background-color: #f7f7f7;
	cursor: pointer;
}
button:hover {
	background-color: #1f1f1f;
	color: #f7f7f7;
}
button:active {
	background-color: #0c0c0c;
	color: #f7f7f7;
}
